.advantages {
  background-color: $light-bg;
  padding-bottom: 114px;
}

.advantages__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  max-width: 1040px;
  width: 100%;
  margin: 69px auto 0;
}

.advantages__block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  list-style: none;

  h3 {
    margin: -8px 0 5px;
    font-weight: 700;
    font-size: 22px;
  }

  p {
    margin: 0;
    font-weight: 300;
    line-height: 1.4;
  }
}

.advantages__item {
  width: 340px;

  position: relative;
  margin-bottom: 81px;
  padding-bottom: 78px;

  &::before {
    position: absolute;

    content: "";
    top: -3px;
    left: 4px;
    min-width: 65px;
    width: 100%;
    max-width: 103px;
    height: 53px;

    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &--square,
  &--comfort {
    padding-left: 157px;
  }

  &--parking,
  &--experience {
    padding-right: 5px;
    padding-left: 102px;
  }
}

.advantages__info {
  position: absolute;
  top: 56px;
  left: 27px;
  z-index: 1;

  font-size: 14px;
  color: $advatages-info-color;
}

.advantages__block--top {
  width: 100%;

  .advantages__item {
    border-bottom: 2px solid $advantages-border;
  }
}

.advantages__block--center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  padding: 59px 34px 58px;
  align-self: flex-start;
  width: 240px;

  align-items: center;
  justify-content: center;
  text-align: center;

  color: white;
  background-color: $blue-bg;

  .advantages__content {
    padding: 0;
  }

  b {
    display: block;
    margin: -8px 0 13px;
    font-weight: 700;
    font-size: 74px;
    line-height: 1;
    transform: translateX(-4px);
  }

  h3 {
    font-size: 26px;
    margin-bottom: 32px;
  }

  p {
    line-height: 1.5;
  }
}

.advantages__item--square {
  &::before {
    left: 30px;
    background-image: url("../img/desktop/900.png");
  }

  .advantages__content {
    margin-left: 7px;
  }
}

.advantages__item--comfort {
  padding-bottom: 0;
  margin-bottom: 0;

  &::before {
    left: 22px;
    background-image: url("../img/desktop/350.png");
  }

  .advantages__info {
    left: 19px;
  }
}

.advantages__item--parking {
  &::before {
    background-image: url("../img/desktop/70.png");
  }

  .advantages__info {
    left: 0;
  }
}

.advantages__item--experience {
  margin-bottom: 0;
  padding-bottom: 0;

  &::before {
    background-image: url("../img/desktop/5+.png");
  }

  .advantages__info {
    left: 0;
  }
}

@media (max-width: $tablet-max) {
  .advantages {
    padding-bottom: 94px;
  }

  .advantages__wrapper {
    max-width: 890px;
    padding: 0 45px;
  }

  .advantages__block--top {
    .advantages__item {
      border-bottom: none;
    }
  }

  .advantages__item {
    width: 339px;
    margin-bottom: 46px;
    padding-bottom: 0;

    &::before {
      top: -19px;
      width: 100%;
      max-width: 85px;
      height: 43px;

      background-size: 85px 43px;
    }

    &--square,
    &--comfort {
      padding-left: 111px;
      padding-right: 35px;
    }

    &--experience,
    &--comfort {
      margin-bottom: 0;
    }
  }

  .advantages__info {
    top: 27px;
    left: 0;
  }

  .advantages__block h3 {
    margin: -27px 0 1px;
    font-size: 20px;
  }

  .advantages__item--square {
    &::before {
      left: 1px;
    }
  }

  .advantages__item--experience,
  .advantages__item--parking {
    .advantages__info {
      left: 15px;
    }

    &::before {
      background-size: 57px 43px;
      width: 57px;
      height: 43px;
      left: 15px;
    }
  }

  .advantages__item--comfort {
    padding-left: 117px;

    .advantages__info {
      left: 0;
    }

    &::before {
      left: 2px;
    }
  }

  .advantages__block--center {
    padding: 39px 130px 38px;
    margin: 0 auto;

    position: static;
    transform: none;
    display: flex;
    width: 442px;

    b {
      margin-bottom: 26px;
    }

    h3 {
      font-size: 22px;
      margin-bottom: 16px;
    }
  }

  .advantages__block--bottom {
    margin-top: 68px;
  }
}

@media (max-width: $mobile-max) {
  .advantages {
    padding-bottom: 48px;

    h2 {
      padding: 0 15px;
    }
  }

  .advantages__wrapper {
    max-width: 100%;
    padding: 0;
  }

  .advantages__block--top {
    margin-bottom: 28px;
  }

  .advantages__item {
    padding: 0 15px;
    margin: 0 auto 44px;

    &--square,
    &--comfort {
      padding: 0 67px;
    }

    &--parking,
    &--experience {
      padding: 0 44px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .advantages__info {
      top: 29px;
    }

    .advantages__info,
    &::before {
      left: 50%;
      transform: translateX(-50%);
      background-position: center;

      &--square,
      &--parking,
      &--comfort,
      &--experience {
        left: auto;
      }
    }

    &--square {
      .advantages__content {
        margin-left: auto;
      }
    }

    .advantages__content {
      margin: 83px auto 16px;
      text-align: center;
    }
  }

  .advantages__block--center {
    padding: 44px 68px 43px;

    b {
      margin-bottom: 24px;
    }

    h3 {
      margin-bottom: 10px;
    }
  }

  .advantages__block--bottom {
    margin-top: 66px;
  }
}
