.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px;
  width: 234px;
  font-family: $font-roboto;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: white;
  border: 4px solid white;
  transition: background-color $animate, color $animate, opacity $animate;

  &:hover,
  &:focus {
    opacity: 0.5;
    outline: none;
  }
}

@media (max-width: $tablet-max) {
  .btn {
    width: 184px;
  }
}

@media (max-width: $mobile-max) {
  .btn {
    width: 100%;
  }
}
