.contacts {
  width: 50%;
  padding: 68px 0;

  border-top: 1px solid $contacts-border;

  h2 {
    text-align: left;
    margin-bottom: 46px;
    padding-left: 17.5%;
  }
}

.contacts__wrapper {
  margin-right: auto;
  max-width: 683px;
  width: 100%;
}

.contacts__inner-content {
  display: flex;
  justify-content: flex-start;

  padding-right: 14.94%;
  padding-left: 17.5%;
}

.contacts__info,
.contacts__connection {
  padding: 0;
  margin: 0;

  list-style: none;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  width: 51%;

  padding: 0 3% 0 0.8%;
  border-right: 1px solid $contacts-border;
}

.contacts__connection {
  display: flex;
  flex-direction: column;
  width: 49%;

  padding-left: 13%;
}

.contacts__item {
  margin-bottom: 26px;

  line-height: 0.8;

  &:last-child {
    margin-top: auto;
    margin-bottom: 0;
  }

  b {
    display: block;
    margin-bottom: 10px;
  }
}

.contacts__link {
  font-family: $font-roboto;
  font-size: 14px;
  line-height: 1.2;

  color: $text-color;
}

@media (max-width: $tablet-max) {
  .contacts {
    width: 100%;

    h2 {
      padding-left: 13%;
      margin-bottom: 40px;
    }
  }

  .contacts__wrapper {
    padding: 0 45px;
    max-width: 100%;
  }

  .contacts__inner-content {
    padding: 0 9.8% 0 13%;
  }

  .contacts__info {
    padding: 0 3% 0 0;
  }

  .contacts__connection {
    padding: 0 0 0 9%;
  }

  .contacts__item {
    margin-bottom: 29px;
  }

  .contacts__item b {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .contacts__link {
    font-size: 18px;
  }
}

@media (max-width: $mobile-max) {
  .contacts h2 {
    margin-bottom: 42px;
    padding-left: 0;
  }

  .contacts__wrapper {
    padding: 0 15px;
  }

  .contacts__inner-content {
    flex-wrap: wrap;
    padding: 0;
  }

  .contacts__info,
  .contacts__connection {
    width: 100%;
    padding: 0;
    border-right: none;
  }

  .contacts__connection {
    margin-top: 30px;
  }
}
