.container {
  width: 100%;
  min-width: 320px;
  max-width: 1220px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: $tablet-max) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: $mobile-max) {
  .container {
    padding: 0 15px;

    &--gym {
      padding: 0;
    }
  }
}
