.free-lesson {
  width: 50%;
  padding: 68px 0;

  color: white;
  background-color: $form-bg;

  h2 {
    text-align: left;
    margin-left: 15%;
  }

  .active {
    border-bottom: 1px solid white;
  }

  .error {
    border-bottom: 1px solid red;
  }
}

.free-lesson__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  max-width: 683px;
}

.free-lesson form {
  margin: 41px 25% 0 15%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.free-lesson__name {
  width: 50%;
  padding: 0 4% 0 0;
}

.free-lesson__phone {
  width: 50%;
  padding: 0 0 0 4%;
}

.free-lesson input {
  padding: 5px 0;
  width: 100%;

  font-size: 14px;
  line-height: 1.14;
  font-family: $font-roboto;
  color: inherit;
  background-color: transparent;

  border: 0;
  border-bottom: 1px solid $input-border;
  appearance: none;
  border-radius: 0;
  outline: none;

  &::placeholder {
    color: white;
  }
}

.free-lesson button {
  margin-top: 30px;
  padding: 16px 15px 17px;

  max-width: 100%;
  width: 100%;

  font-size: 14px;
  line-height: 1.14;
  font-family: $font-roboto;
  color: inherit;
  background-color: transparent;
  outline: none;
  appearance: none;
  border: 3px solid white;
}

@media (max-width: $tablet-max) {
  .free-lesson {
    width: 100%;

    h2 {
      margin-left: 13%;
    }

    form {
      margin: 34px 17.25% 0 13%;
      width: 100%;
    }

    input {
      padding: 5px 0 7px;
    }
  }

  .free-lesson__wrapper {
    padding: 0 45px;
    max-width: 100%;
  }

  .free-lesson__name {
    padding: 0 6.5% 0 0;
  }

  .free-lesson__phone {
    padding: 0 0 0 6%;
  }
}

@media (max-width: $mobile-max) {
  .free-lesson__wrapper {
    padding: 0 15px;
  }

  .free-lesson {
    width: 100%;

    h2 {
      margin-left: 0;
    }

    form {
      margin: 36px 0 0;
    }

    button {
      margin-top: 6px;
    }
  }

  .free-lesson__name,
  .free-lesson__phone {
    padding: 0;
    width: 100%;
    margin-bottom: 32px;
  }
}
