.main-header {
  padding: 30px 0 50px;

  color: white;

  background-color: $header-bg;

  @include bg-image("../img/desktop/header__bg@1x.jpg", cover);
}

@include retina {
  .main-header {
    background-image: url("../img/desktop/header__bg@2x.jpg");
  }
}

/* block: top-line */
.main-header__top-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.main-header__logo {
  width: 89px;
  height: 20px;
}

.main-header__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.main-header__phone,
.main-header__social-item {
  transition: opacity $animate;

  &:hover,
  &:focus {
    opacity: $for-hover;
    outline: none;
  }
}

.main-header__phone {
  margin-left: 100px;
  font-family: $font-bebasneue;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;

  color: white;
}

/* block: inner */
.main-header__inner {
  margin-top: -4px;
  display: flex;
}

/* block: promo */
.main-header__promo {
  align-self: flex-start;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;

  width: 460px;
  padding-right: 63px;
  padding-top: 116px;

  font-family: $font-bebasneue;
  text-align: right;
}

.main-header__promo b {
  display: block;
  width: 100%;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 49px;
  line-height: 1;
  letter-spacing: 0.03em;

  color: white;
}

.main-header__text-wrapper {
  position: relative;
  margin-bottom: 58px;
}

.main-header__promo h1 {
  margin: 0;
  margin-left: 90px;
  max-width: 307px;

  font-weight: 700;
  font-size: 109px;
  line-height: 1;
  text-align: right;
  letter-spacing: 0.03em;
  word-wrap: break-word;

  color: white;
}

.main-header__promo p {
  margin: 0;
  max-width: 113px;

  position: absolute;
  left: 19px;
  top: 128px;

  font-family: $font-roboto;
  font-size: 14px;
  line-height: 1.5;

  color: white;
  word-wrap: break-word;
}

/* block: photo */
.main-header__photo {
  width: 500px;
  height: 556px;
  background-color: #00092e;

  @include bg-image("../img/desktop/sportsman@1x.jpg", cover);
}

@include retina {
  .main-header__photo {
    background-image: url("../img/desktop/sportsman@2x.jpg");
  }
}

.main-header__photo img {
  display: block;
  width: 100%;
  height: auto;
}

/* block: social */
.main-header__social {
  align-self: flex-end;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
}

.main-header__social-item {
  margin-right: -4px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;

  color: white;
}

@media (max-width: $tablet-max) {
  .main-header {
    padding: 40px 0 82px;

    @include bg-image("../img/tablet/header__bg@1x.jpg", cover);
  }

  @include retina {
    .main-header {
      background-image: url("../img/tablet/header__bg@2x.jpg");
    }
  }

  /* block: top-line */
  .main-header__logo {
    width: 80px;
  }

  .main-header__phone {
    font-size: 24px;
    letter-spacing: 0.02em;
  }

  /* block: inner */
  .main-header__inner {
    margin: 18px auto 0;
    max-width: 950px;
  }

  /* block: promo */
  .main-header__promo {
    margin: 0 auto;
    padding: 55px 30px 0 0;
    max-width: 354px;
  }

  .main-header__text-wrapper {
    margin-bottom: 41px;
  }

  .main-header__promo b {
    margin-bottom: 5px;
    font-size: 34px;
  }

  .main-header__promo h1 {
    font-size: 86px;
  }

  .main-header__promo p {
    left: 0;
    top: 93px;
  }

  /* block: photo */
  .main-header__photo {
    margin: 0 auto;
    width: 324px;
    height: 390px;

    background-image: url("../img/tablet/sportsman@1x.jpg");
  }

  @include retina {
    .main-header__photo {
      background-image: url("../img/tablet/sportsman@2x.jpg");
    }
  }

  .main-header__photo img {
    margin: 0 auto;
    width: auto;
    height: 390px;
    transform: translateX(-12px);
  }

  /* block: social */
  .main-header__social {
    display: none;
  }
}

@media (max-width: $mobile-max) {
  .main-header {
    padding: 20px 0 79px;

    background-image: url("../img/mobile/header__bg-mobile@1x.jpg");
  }

  @include retina {
    .main-header__photo {
      background-image: url("../img/mobile/header__bg-mobile@2x.jpg");
    }
  }

  /* block: top-line */
  .main-header__logo {
    width: 67px;
  }

  .main-header__phone {
    font-size: 20px;
    letter-spacing: 0.02em;
  }

  /* block: promo */
  .main-header__promo {
    padding: 54px 0 0;

    width: 100%;
    max-width: 80%;
    min-width: 290px;
  }

  .main-header__text-wrapper {
    margin-bottom: 44px;
  }

  .main-header__promo b {
    margin-bottom: 12px;
    font-size: 28px;
  }

  .main-header__promo h1 {
    margin-left: 10px;
    max-width: 340px;
    font-size: 78px;
  }

  .main-header__promo p {
    left: -1px;
    top: 81px;
  }

  /* block: photo */
  .main-header__photo {
    display: none;
  }
}
