.main-content {
  overflow: hidden;
}

.main-content h2 {
  margin: 0;

  font-family: $font-bebasneue;
  font-weight: 700;
  font-size: 49px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: $tablet-max) {
  .main-content h2 {
    font-size: 42px;
  }
}

@media (max-width: $mobile-max) {
  .main-content h2 {
    font-size: 32px;
  }
}
