.main-footer {
  padding: 34px 0;
  background-color: $footer-bg;

  a {
    color: white;
    transition: opacity $animate;

    &:hover,
    &:focus {
      opacity: 0.5;
      outline: none;
    }
  }
}

.main-footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 88px;
  min-height: 40px;
}

.main-footer__nav-list {
  min-width: 430px;

  margin: 0 0 0 50px;
  padding: 0;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-footer__nav-item {
  font-size: 14px;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  a {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-footer__social-list {
  margin: 0;
  padding: 0;
  min-width: 136px;

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-footer__social-item {
  margin-left: 5px;
  transform: translateX(15px);
}

.main-footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  transition: opacity $animate;

  &:hover,
  &:focus {
    opacity: 0.5;
    outline: none;
  }

  img {
    display: block;
  }
}

.main-footer__social-link--vk img {
  width: 24px;
  height: 13px;
}

.main-footer__social-link--ig img {
  width: 24px;
  height: 24px;
}

.main-footer__social-link--fb img {
  width: 12px;
  height: 24px;
}

@media (max-width: $tablet-max) {
  .main-footer {
    padding: 38px 0;
  }

  .main-footer__logo {
    width: 82px;
    height: 18px;
  }

  .main-footer__nav-list {
    margin: 0 0 0 54px;
    min-width: 395px;
  }

  .main-footer__nav-item {
    margin-right: 30px;
  }

  .main-footer__social-list {
    min-width: 129px;
  }

  .main-footer__social-item {
    margin-left: 0;
    transform: translateX(23px);
  }
}

@media (max-width: $mobile-max) {
  .main-footer {
    padding: 46px 0;
  }

  .main-footer__nav {
    position: relative;
    display: block;
  }

  .main-footer__logo {
    position: absolute;
    top: -7px;
    z-index: 1;
  }

  .main-footer__nav-list {
    display: block;
    max-width: 290px;
    min-width: 100%;
    margin: 0;
    width: 100%;

    transform: translateX(0);
    column-count: 2;
    column-gap: 30px;
  }

  .main-footer__nav-item {
    margin: 0 auto 0 0;

    font-size: 16px;

    &:first-child {
      margin-top: 40px;
    }

    a {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .main-footer__social-list {
    margin: 12px 0 0;
    transform: translateX(0);
  }

  .main-footer__social-item {
    margin-right: 25px;
    margin-left: 0;
    transform: translateX(-5px);

    &:last-child {
      margin-right: 0;
    }

    &--fb {
      margin: -10px;
    }
  }

  .main-footer__social-link--vk img {
    width: 32px;
    height: 17px;
  }

  .main-footer__social-link--ig img {
    width: 27px;
    height: 27px;
  }

  .main-footer__social-link--fb img {
    width: 14px;
    height: 27px;
  }
}
