.main-footer {
  padding: 37px 0;
  background-color: $footer-bg;

  a {
    display: block;
    color: white;
    transition: opacity $animate;

    &:hover,
    &:focus {
      opacity: 0.5;
      outline: none;
    }
  }
}

.main-footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer__logo {
  display: block;
  padding: 5px;
  width: 98px;
  height: 30px;

  transform: translateX(-5px);
}

.main-footer__nav-list {
  margin: 0 0 0 auto;
  padding: 0;

  max-width: 442px;
  width: 100%;

  transform: translateX(12px);

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-footer__nav-item {
  font-size: 14px;
  margin-right: 6.8%;

  &:last-child {
    margin-right: 0;
  }

  a {
    padding: 5px;
  }
}

.main-footer__social-list {
  margin: 0 0 0 auto;
  padding: 0;
  width: 120px;

  transform: translateX(5px);

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12.5%;

  &:last-child {
    margin-right: 0;
  }
}

.main-footer__social-link {
  display: block;
  padding: 5px;
  transition: opacity $animate;

  &:hover,
  &:focus {
    opacity: 0.5;
    outline: none;
  }

  img {
    display: block;
  }
}

.main-footer__social-link--vk img {
  width: 24px;
  height: 13px;
}

.main-footer__social-link--ig img {
  width: 24px;
  height: 24px;
}

.main-footer__social-link--fb img {
  width: 12px;
  height: 24px;
}

@media (max-width: $tablet-max) {
  .main-footer {
    padding: 41px 0;
  }

  .main-footer__logo {
    display: block;
    width: 92px;
    height: 28px;

    transform: translateX(-6px);
  }

  .main-footer__nav-list {
    max-width: 401px;
    width: 100%;

    transform: translateX(10px);
  }

  .main-footer__nav-item {
    margin-right: 5%;
  }

  .main-footer__social-list {
    width: 110px;
  }

  .main-footer__social-item {
    margin-right: 9%;
  }
}

@media (max-width: $mobile-max) {
  .main-footer {
    padding: 46px 0;
  }

  .main-footer__nav {
    position: relative;
    display: block;
  }

  .main-footer__logo {
    position: absolute;
    top: 5px;
    z-index: 1;

    width: 78px;
    height: 25px;

    transform: translateX(-6px);
  }

  .main-footer__nav-list {
    display: block;
    max-width: 290px;
    margin: -5px auto 0 0;
    width: 100%;

    transform: translateX(-5px);
    column-count: 2;
    column-gap: 30px;
  }

  .main-footer__nav-item {
    margin-top: 6px;
    font-size: 16px;

    &:first-child {
      margin-top: 40px;
    }
  }

  .main-footer__social-list {
    margin: 20px 0 0;
    width: 153px;
    transform: translateX(-5px);
  }

  .main-footer__social-item {
    margin-right: 16.3%;
  }

  .main-footer__social-link--vk img {
    width: 32px;
    height: 17px;
  }

  .main-footer__social-link--ig img {
    width: 27px;
    height: 27px;
  }

  .main-footer__social-link--fb img {
    width: 14px;
    height: 27px;
  }
}
