/* Color */
$accent-color: #ed0233;
$tab-active: #d10a42;
$advantages-border: rgba($tab-active, 0.2);
$header-bg: #af032b;
$price-color: #103aae;
$time-color: #495a7d;
$text-color: #102654;
$text-color-disabled: rgba($text-color, 0.5);
$blue-bg: #1c3374;
$form-bg: $text-color;
$light-overlay: rgba(20, 54, 122, 0.5);
$dark-overlay: rgba($text-color, 0.89);
$light-bg: #f8f9fc;
$currency-color: $text-color;
$border-price-btn: $text-color;
$footer-bg: #030a1a;
$blue-overlay: rgba(20, 54, 122, 0.5);
$slider-overlay: rgba($text-color, 0.89);
$promo-bg: #000145;
$advatages-info-color: #2e35ac;

/* gradient */
$linear-button: linear-gradient(to right, #ed0233 0%, #003eb7 100%);
$linear-button-video: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
$linear-border: linear-gradient(135deg, #d10a42 0%, #00359f 100%);

/* fonts */
$font-roboto: "Robotocondensed", "Arial", sans-serif;
$font-bebasneue: "BebasNeue", "Arial", sans-serif;


/* Media queries */
$mobile-max: 767px;
$tablet-max: 1199px;
$desktop-min: 1200px;

/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* animation */
$animate: 0.2s linear;

/* opacity-size */
$for-hover: 0.5;
